<!DOCTYPE html>
<html>
<head>
  <title>Shelveit</title>
  <%= stylesheet_link_tag "web-app-theme/base", "web-app-theme/themes/warehouse/style", "web-app-theme/override" %>
  <%= stylesheet_link_tag 'custom', :media => 'screen' %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="container">
    
    <%= render 'layouts/header' %>

    <div id="wrapper" class="wat-cf">

      <div id="main">
	
		<%= render 'shared/messages' %>
		
        <%= yield %>
        
        <%= render 'layouts/footer' %>

      </div>

      <div id="sidebar">
        <%= yield :sidebar %>
      </div>


    </div>    
  </div>

</body>
</html>

<%= debug(params) if Rails.env.development? %>

